<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Post Form</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="./vueversion3.js"></script>
    <style>
        #form-container {
            width: 60%;
            margin: 20px auto;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div id="mainapp" class="container">
        <div id="form-container" v-if="!isUserDataVisible">
            <form class="row needs-validation" ref="postForm" novalidate>
                <div class="form-group col-12 mb-2">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title" class="form-control" v-model="post.title" required>
                    <div class="invalid-feedback">Please enter a title.</div>
                </div>
                <div class="form-group col-12 mb-2">
                    <label for="content">Content</label>
                    <textarea name="content" id="content" class="form-control" v-model="post.content" required></textarea>
                    <div class="invalid-feedback">Please enter some content.</div>
                </div>
                <div class="form-group col-12 mb-2">
                    <label for="shareon">Share On</label>
                    <div v-for="socialMedia in postData.shareOn" class="form-check">
                        <input type="checkbox" name="socialmedia" v-model="post.shareOn" :value="socialMedia" :id="socialMedia" class="form-check-input" :required="!post.shareOn.length">
                        <label :for="socialMedia" class="form-check-label">&nbsp; {{ socialMedia }} </label>
                    </div>
                    <div v-if="!post.shareOn.length" class="invalid-feedback">Please select a social media platform.</div>
                </div>
                
                
                <div class="form-group col-12 mb-2">
                    <label for="category">Category</label>
                    <div v-for="category in postData.categories" class="form-check">
                        <input type="radio" name="category" v-model="post.category" :value="category" :id="category" class="form-check-input" required>
                        <label :for="category" class="form-check-label">&nbsp; {{ category }} </label>
                        <div class="invalid-feedback">Please select a category.</div>
                    </div>
                </div>
                <div class="form-group col-12 mb-2">
                    <label for="category">Series</label>
                    <select class="form-select" aria-label="series" v-model="post.series" required>
                        <option selected>Open this select menu</option>
                        <option v-for="edition in postData.series" :value="edition">{{ edition }}</option>
                    </select>
                    <div class="invalid-feedback">Please select series.</div>
                </div>
                <button class="btn btn-primary" @click="validateInputs($event)">Next</button>
            </form>
        </div>
        <div class="row my-2" v-if="isUserDataVisible==true">
            <h3 class="text-center">User Input Data</h3>
            <label>Title: {{ post.title }}</label>
            <label style="white-space: pre;">Content: {{ post.content }}</label>
            <label for="">Share On:</label>
            <ul class="list-group">
                <li v-for="socialMedia in post.shareOn" class="list-group-item"> {{ socialMedia }}</li>
            </ul>
            <label>Category: {{ post.category }}</label>
            <label>Series: {{ post.series }}</label>
            <button class="btn btn-primary" @click="isUserDataVisible=false">Previous</button>
        </div>
    </div>


    <script>
        const app = Vue.createApp({
            data: () => ({
                post: {
                    title: '',
                    content: '',
                    series: '',
                    category: '',
                    shareOn: []
                },
                postData: {
                    categories: ['Development', 'Design', 'Testing', 'Nnetworking'],
                    shareOn: ['Facebook', 'Twitter', 'LinkedIn', 'Instagram'],
                    series: ['First Edition', 'Second Edition', 'Third Edition', 'Fourth Edition'],
                },
                isUserDataVisible: false,
            }),
            methods: {
                validateInputs($event) {
                    if (this.$refs.postForm.checkValidity()) {
                        this.isUserDataVisible = true;
                    }
                },
            }
        })
        app.mount('#mainapp')
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script>
        (() => {
            'use strict'
            const forms = document.querySelectorAll('.needs-validation')
            Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
                }
                form.classList.add('was-validated')
            }, false)
            })
        })()
    </script>
</body>
</html>